div.col-md-6 img {
  padding: 0;
}
input[type="number"]:focus-visible {
  border: 2px solid #feb729;
}
input[type="number"] {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #feb729;
  max-width: 28.125em;
  width: 50%;
  min-width: 18.75em;
}
input.btn.btn-my {
  background-color: #feb729;
  color: #fff;
}
