@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");
:focus {
  outline: none;
}
/*
body {
  padding: 10px;
  background: #6190e8; /*fallback for old browsers 
  background: -webkit-linear-gradient(
    to right,
    #a7bfe8,
    #6190e8
  ); /* Chrome 10-25, Safari 5.1-6
  background: linear-gradient(
    to right,
    #a7bfe8,
    #6190e8
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
}
*/
.form,
.form div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form div {
  height: 65vh;
  width: 100%;
}
h1,
h2 {
  font-family: "Oxygen", sans-serif;
}
.form input[type="text"]:focus-visible,
.form input[type="email"]:focus-visible,
.form input[type="password"]:focus-visible {
  border: 2px solid #feb729;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form select {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #feb729;
  max-width: 450px;
  width: 50%;
  min-width: 300px;
}

input[type="submit"] {
  padding-inline: 36px;
  font-weight: bold;
  border-radius: 8px;
}
/* div.frame {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
div.frame div.MyCard {
  display: flex;
  flex-direction: row;
  margin: 10px;
  align-items: center;
}
div.frame div.MyCard div.left_card {
  padding: 10px;
} */
input.btn.btn-my {
  background-color: #feb729;
  color: #fff;
}
