{% extends "auctions/layout2.html" %} {% block body %}
<h2>Categories</h2>
<center>
  <ul
    style="
      list-style-type: none;
      display: grid;
      justify-content: center;
      grid-gap: 10px;
      place-content: center;
      height: 50vh;
    "
  >
    {% for category in AllCategory%}
    <a href="{%url 'categoryitem' category.id %}">
      <li style="padding: 10px; border: 1px solid black; white-space: nowrap">
        {{category}}
      </li>
    </a>
    {%endfor%}
  </ul>
</center>

{% endblock %}
