{% extends "auctions/layout2.html" %} {% block body %}
<h2>Active Listings</h2>
<div class="frame">
  {% for data in allAuction%}
  <div class="MyCard">
    <img src="{{data.imageURL}}" alt="{{data.name}}" />
    <div class="left_card">
      <h4><a href="{% url  'details' data.pk%}">{{ data.name}}</a></h4>
      <p>Created by {{ data.user.username}}</p>
      <p>Created at {{data.created_at}}</p>
      <p>Starting price {{data.start_price}} $</p>
      {% if data.id not in WatchLists or not user.is_authenticated %}
      <form method="post" action="{% url 'watchlist' data.pk %}">
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" value="Add to Watchlist" />
      </form>
      {% else %}
      <form method="post" action="{% url 'watchlist' data.pk %}">
        {% csrf_token %}
        <input
          type="submit"
          class="btn btn-danger"
          value="Remove for WatchList"
        />
      </form>
      {%endif%}
    </div>
  </div>
  {%endfor%}
</div>
{% endblock %}
