{% extends "auctions/layout2.html" %} {%load static%} {% block style %}
<link href="{% static 'auctions/signs.css' %}" rel="stylesheet" />
{% endblock %} {% block body %}

<form action="{% url 'register' %}" method="post" class="form">
  {% csrf_token %}
  <div>
    <h2>Register</h2>

    {% if message %}
    <span
      class="alert alert-danger"
      role="alert"
      style="width: 50%; min-width: 300px; max-width: 450px; text-align: center"
      >{{ message }}</span
    >
    {% endif %} {{form.username}} {{form.email}} {{form.password}}
    {{form.confirmation}}

    <input class="btn btn-my" type="submit" value="Register" />
    <p>Already have an account? <a href="{% url 'login' %}">Log In here.</a></p>
  </div>
</form>

{% endblock %}
